<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Page</title>

    <link rel="stylesheet" href="/css/error.css" />
  </head>
  <body>
    <div class="container-fluid container-fluid-custom">
      <div class="error-card">
        <h1 class="display-2 fw-bold mb-4 position-relative black">
          <%= message %>
        </h1>
        <p class="fs-4 mb-4 black">
          Notz is a simple to use free note taking app made with Nodes.Js, EJS &
          MongoDB.
        </p>
        <a
          href="/"
          class="btn btn-lg"
          style="background-color: #828fae; color: white"
          >Explore!</a
        >
      </div>
    </div>
  </body>
</html>
