<div class="container-fluid">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4"
  >
    <a
      href="/"
      class="d-flex align-items-center col-md-3 mb-2 mb-md-0 logo text-decoration-none fw-bold fs-2"
    >
    /Notz
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link link px-2 black">Home</a></li>
      <li><a href="#" class="nav-link px-2 black">Features</a></li>

      <li><a href="#" class="nav-link px-2 black">FAQs</a></li>
      <li><a href="/about" class="nav-link px-2 black">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <div class="siginbtn">
        <a href="/auth/google" class="btn btn-color me-2">
          <img
            src="/img/Google-Symbol.png"
            alt=""
            style="width: 30px; height: 30px; margin-right: 10px"
          />
          Continue With Google
        </a>
      </div>
    </div>
  </header>
</div>
