
<head>
    <link rel="stylesheet" href="/css/aboutus.css">
</head>

<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-md-0">
                <h1 class="display-2 fw-bold mb-4 position-relative home-title">
                    Welcome to Notz App
                </h1>
                <p class="fs-4 mb-4">
                    Notz is a simple and free note-taking application designed to help you organize your thoughts and ideas effectively. With Notz, you can easily create, view, update, and delete notes, ensuring that you never lose track of your important information.
                </p>
                <p class="fs-4 mb-4">
                    Our mission is to provide a user-friendly and intuitive platform for managing your notes, whether you're jotting down quick reminders or drafting detailed plans. We value simplicity, reliability, and accessibility, and we're committed to continually improving Notz to meet the needs of our users.
                </p>
                <p class="fs-4 mb-4">
                    Thank you for choosing Notz. We hope you find it useful for all your note-taking needs.
                </p>
                <p class="fs-5 mb-4">
                    To learn more about Notz and contribute to its development, visit our GitHub repository:
                    <a href="https://github.com/inaveed-git/Notz-Note-app---nodejs.git" target="_blank" class="btn btn-sm githubbtn">GitHub Repository</a>
                </p>
                <a href="/auth/google" class="btn btn-lg btn-color">Get Started with Notz</a>
            </div>
        </div>
    </main>
</div>