:root {
    --text-color: #f6f7f9;
    --background-color: #828fae;
    --button-color: #627195;
    --button-color-hover: #4e5a7b;
    
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.logo {
    color: #323748; /* Using color directly as it's not changed */
}

.btn-color,
.btn-color:hover {
    background-color: var(--button-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-color:hover {
    background-color: var(--button-color-hover);
}

.container-fluid-custom {
    max-width: 95%;
}

.card {
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-title {
    color: #000; /* Set title color to white */
    font-size: 1.2rem; /* Example font size */
    font-weight: 700;
    margin-bottom: 2rem; /* Example margin bottom */
}

.card-text {
    color: var(--text-color); /* Set body text color */
    font-size: 1rem; /* Example font size */
}

.card-body {
    padding: 1rem; /* Add padding to card body */
    border-radius: 0.5rem; /* Add border-radius for better appearance */
}

.text-decoration-none {
    text-decoration: none; /* Remove text-decoration for links */
}

.pagination {
    justify-content: center;
}

.page-link {
    color: var(--text-color);
    background-color: var(--button-color);
    border-color: var(--button-color);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.page-link:hover {
    background-color: var(--button-color-hover);
    border-color: var(--button-color-hover);
}

.page-item.active .page-link {
    background-color: var(--button-color-hover);
    border-color: var(--button-color-hover);
}

.page-item.disabled .page-link {
    opacity: 0.5;
}


.black{
    color: #000;
}